.articles-container {
  margin-top: 20px;
}

.articles_page {
  display: grid;
  grid-template-columns: auto auto;
  list-style: none;
}

ul.articles_page {
  margin: 20px 0 !important;
  padding: 0 !important;
}

.main_title {
  font-size: 40px;
  font-weight: bold;
}
.articles_page > li {
  display: flex;
  align-items: center;
}

.articles_icons {
  justify-content: flex-end;
}

.articles_page > li > li {
  text-align: center;
  width: 30px;
  height: 30px;
  background: rgb(252, 246, 246);
  margin-left: 20px;
  border-radius: 50%;
}

.articles_page > li > li:hover {
  border: 1px solid #6bca3e;
  cursor: pointer;
}

/* grid */
.articles_grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
