.btn-view {
  padding: 0.6em 2em;
  border-radius: 35px;
  color: #fff;
  background-color: #902156;
  width: 250px;
  font-size: 15px;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  margin: 1em;
}

.btn-view:focus {
  outline: none;
}
